$font-stack: Arial, Helvetica, sans-serif;
$body-bg-color: #f4f4f4;

// Configs
@mixin easeOut {
	transition: all 0.5s ease-out;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $body-bg-color;
	font-family: $font-stack;
	line-height: 1.5;
}

.row {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

.rotateRight {
	transform: rotate(0deg);
	@include easeOut;
}

.rotateDown {
	transform: rotate(90deg);
	@include easeOut;
}

.slideUp,
.slideDown {
	max-height: 0;
	overflow-y: hidden;
	@include easeOut;
}

.slideDown {
	max-height: 100px;
}

.weapon {
	.col-3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.3rem;
	}
}

.toggle {
	border: none;
	background: none;
	outline: none;
}

.add_famed {
	height: 2rem;
	border-radius: 10px;
}

// Utilities
@for $i from 1 through 12 {
	.col-#{$i} {
		width: 100%/12 * $i;
		border: 1px solid black;
	}
}
