$font-stack: Arial, Helvetica, sans-serif;
$bg-color: #4d4d4d;
$header-bg-color: #191919;
$text-color: #d4d4d4;
$bg-opacity: 0.90;

// Browser settings
::-webkit-inner-spin-button {
	display: none;
}

::-webkit-clear-button {
	display: none;
}

// Configs
@mixin easeOut {
	transition: all 0.5s ease-out;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	// background-color: $body-bg-color;
	background-image: url(../img/background.jpg);
	background-attachment: fixed;
	font-family: $font-stack;
	line-height: 1.5;
	color: $text-color;
}

header {
	background-color: $header-bg-color;
	text-align: center;
}

section {
	margin: 0.5rem 1rem;
	border: 1px solid #4d4d4d;
}

input {
	text-align: center;
	height: 1.5rem;
	font-size: 0.8em;
	font-weight: bold;
}

ul {
	list-style: none;
}

// h3, h6 {
// 	border: 1px solid #191919;
// 	margin-bottom: 0.1rem;
// }



#navbar {
	position: sticky;
	top: 0;
	padding: 0 1rem;
	background-color: $header-bg-color;
	width: 100%;
	z-index: 100;
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	overflow: auto;
	background-color: $bg-color;
	opacity: $bg-opacity;
	color: $text-color;
}

.rotateRight {
	transform: rotate(0deg);
	@include easeOut;
}

.rotateDown {
	transform: rotate(90deg);
	@include easeOut;
}

.slideUp,
.slideDown {
	max-height: 0;
	overflow-y: hidden;
	@include easeOut;
}

.slideDown {
	max-height: 100px;
}

.weapon {
	// border-bottom: 1px dotted #191919;
	font-size: 0.95em;
	margin: 0.1rem 0;
	.wpn-name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.3rem;
	}
}

.buttons {
	button {
		border: none;
		background: none;
		outline: none;
	}

	:hover {
		transform: scale(1.2, 1.2);
	}

	.delete {
		// background-color: red;
		margin-right: 10px;
	}
}

.empty {
	height: 1px;
}

.hovered {
	transform: scale(1.03, 1.1);
}

#add_famed_btn {
	height: 2rem;
	border-radius: 10px;
	margin-top: .5rem;
	font-size: 1.1em;
	font-weight: bold;

	:hover {
		background-color: red;
	}
}

footer {
	position: static;
	bottom: 0;

	a {
		color: $text-color;
		text-decoration: none;

		:hover {
			transform: scale(1.1, 1.1);
		}
	}
}

.footer-distributed {
	background-color: $header-bg-color;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 20px 30px 20px;

	.footer-left, .footer-middle, .footer-right {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}

.footer-right {
	p {
		text-align: right;
	}
}

.footer-name {
	text-align: left;
	padding-left: 1rem;
}

.footer-social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

// Utilities
@for $i from 1 through 12 {
	.col-#{$i} {
		width: 100%/12 * $i;
		// border: 1px solid black;
	}
}
