@import "config";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1100px;
	margin: 0 auto;
	background-image: $bg-image;
	background-attachment: fixed;
	background-size: cover;
	font-family: $font-stack;
	line-height: 1.5;
	color: $text-color;
}

header {
	background-color: $header-bg-color;
	opacity: $header-bg-color;
	text-align: center;
}

section {
	margin: 0.5rem 1rem;
	border: 1px solid #4d4d4d;
}

input {
	text-align: center;
	height: 1.5rem;
	font-size: 0.8em;
	font-weight: bold;
	user-select: all;
}

ul {
	list-style: none;
}

#navbar {
	position: sticky;
	top: 0;
	padding: 0 1rem;
	background-color: $header-bg-color;
	width: 100%;
	z-index: 100;
	justify-content: space-between;

	a {
		text-decoration: none;
		padding: 0 0.2rem;
		color: $text-color;
		cursor: $interact-cursor, pointer;
	}
}

.row {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	overflow: auto;
	background-color: $bg-color;
	opacity: $bg-opacity;
	color: $text-color;
	cursor: $general-cursor, pointer;
}

.rotateRight {
	transform: rotate(0deg);
	@include easeOut;
}

.rotateDown {
	transform: rotate(90deg);
	@include easeOut;
}

.slideUp,
.slideDown {
	max-height: 0;
	overflow-y: hidden;
	@include easeOut;
}

.slideDown {
	max-height: 100px;
}

.weapon {
	font-size: 0.95em;
	margin: 0.1rem 0;
	text-align: right;

	.wpn-name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.3rem;

		span:first-child {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		:hover {
			cursor: $interact-cursor, pointer;
		}
	}
}

// .standard {
// 	white-space: nowrap;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// }

.buttons {
	white-space: nowrap;
	
	button {
		border: none;
		background: none;
		outline: none;
	}

	button:hover {
		transform: scale(1.2, 1.2);
		cursor: $interact-cursor, pointer;
	}

	.delete {
		margin-right: 1rem;
	}
}

.empty {
	height: 1px;
}

.hovered {
	transform: scale(1.03, 1.1);
}

#add_famed_btn {
	height: 2rem;
	border-radius: 10px;
	margin-top: 0.5rem;
	font-size: 1.1em;
	font-weight: bold;

	&:hover {
		cursor: $interact-cursor, pointer;
	}
}

footer {
	position: static;
	bottom: 0;

	a {
		color: $text-color;
		text-decoration: none;

		:hover {
			transform: scale(1.1, 1.1);
		}
	}
}

.footer-distributed {
	background-color: $header-bg-color;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 20px 30px 20px;

	.footer-left,
	.footer-middle,
	.footer-right {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}

.footer-right {
	p {
		text-align: right;
	}
}

.footer-name {
	text-align: center;
	padding-left: 1rem;
}

.footer-social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;
}

@import "mediaqueries";
